<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-image:url('https://wallpapercave.com/wp/wp3339214.png');">
{% include "menu.html" %}
<div style="position: relative; left: 32%; top: 150px">
    <font size="7" color="orangered" face="Times new roman" style="position: relative; left: 10%;">
        Advanced Web Diary
        <br/>
        <br/>
    </font>
    <font size="6" color="lime" face="Times new roman" style="position: relative; left: 2%;">
        Like your paper diary, but better. Simple and multifunctional
        <br/>
        <br/>
    </font>
    <font size="6" color="lime" face="Times new roman" style="position: relative; left: 5%;">
        User friendly interface and convenient design
        <br/>
        <br/>
    </font>
    <font size="6" color="darkorange" face="Times new roman" style="position: relative; left: 5%;">
        You can use it anywhere and any time you want
    </font>
</div>
</body>
</html>